section.page.add-beer
  
  h2 Add Beer

  p This form and all behavior is defined by the form view in <code>client/forms/beer.js</code>.

  p The same form-view is used for both editing and creating new users.

  form(role="beer-form")
    fieldset(role="field-container")
    .buttons
      button.btn(role="reset", type="submit") Submit
